@page
@model AboutModel
@{
    ViewData["Active"] = "About";
}

<div class="row mt-3">
    <div class="col-12">
        <h1>
            @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () =>"About",
            ["en-US"] = () =>"About"
            })
        </h1>
    </div>
</div>

@{
    var cards = new List<Node>();

    cards.Add(Node.From(new Dictionary<string, string> {
                ["ImgSrc"] = "/images/About/squirrel.jpg",
                ["ImgAlt"] = "Author and squirrel taking a shot",
                ["Text"] = "Author and squirrel taking a shot",
            }));

    cards.Add(Node.From(new Dictionary<string, string> {
                ["Text"] = "Norden Esstisch war Kommandant beim Sondereinsatzkommando der Cloning Kontrollbehörde auf dem Asteroiden Iris. Er verhinderte, dass Androiden in menschenunwürdigen Umständen leben müssen und schrieb nie gerne Einsatzberichte. Auf noch nicht geklärte Weise hat das Schicksal ihn in das <a href='https://www.instagram.com/p/CiSjvR7s84E/'>Jahr 4581 u.Z. nach New Paris</a> verschlagen, wo er jetzt Geschichtsbücher schreibt.",
            }));

    cards.Add(Node.From(new Dictionary<string, string> {
                ["Text"] = @"
<dl>
    <dt>Profil:</dt>
    <dd>Alter: 17 Parsec / Licht</dd>
    <dd>Beruf: IT-Manager</dd>
    <dd>Berufung: Coder</dd>
    <dd>Am liebsten: Science Fiction Autor</dd>
    <dd>Handicap: Detailverliebt</dd>
    <dd>Wohnort: Hamburg</dd>
    <dd>Überzeugung: Das wissenschaftliche Prinzip</dd>
    <dd>ScienceCode: <a href='https://medium.com/@@Wolfspelz/sciencecode-the-geekcode-for-science-e859698fc60f'>bb+/un ci0 eu+ dm+/sn de- mv/rp sm+ ss- st- lqg+ gr+ sr++ gut- fp++/gf sh0</a></dd>
    <dd>Vorbilder: James Clerk Maxwell, Margaret Hamilton, David Pulver, Vitalik Buterin, Kelonikoa Pono</dd>
    <dd>Motto: Know what you are doing</dd>
    <dd>Lieblings-SF: <a href='http://blog.wolfspelz.de/2012/11/die-besten-science-fiction-romane.html'>A Talent For War, Voice of the Whirlwind, The Cosmic Computer, The Honor of the Queen, Matter, Transhuman Space, The Earth Book of Stormgate, Schismatrix, The Mote in God's Eye, The Engines of God, Starship Troopers, Pushing Ice, A Fire Upon the Deep</a></dd>
    <dd>Lieblingsrant: <a href='http://blog.wolfspelz.de/2022/10/hot-fusion-technologien.html'>Fusion geht besser</a></dd>
    <dd>Lieblingskunstwerk: <a href='https://www.youtube.com/watch?v=vV1YbWBSXS8'>Watch The World. Second Life Machinima by Robbie Dingo, Don McLean, Vincent Van Gogh</a></dd>
    <dd>Lieblingsspektumssymptom: Restzeit der Mikrowelle auf 0 stellen, damit ordentlich</dd>
    <dd>Ziel: Spaß haben und nett bleiben</dd>
    <dd>Angst: Dass es nicht zum Upload reicht</dd>
    <dd>Marotte: Über Games lesen und Letsplays anschauen ohne selbst zu spielen</dd>
    <dd>Talent: Assoziieren</dd>
    <dd>Bekannte Laster: Schokolade, Nachrichtenfeeds</dd>
    <dd>Traum: Aprilscherze über die sich Millionen freuen</dd>
    <dd>Ideal: Jarura</dd>
</dl>
",
            }));

    cards.Add(Node.From(new Dictionary<string, string> {
                ["Title"] = "Im realen Leben",
                ["Text"] = "... bin ich Diplom Physiker. Ich habe am CERN eine Masterarbeit in Hoch-energiephysik gemacht, dann einen Doktor in Informatik und jetzt bin ich leidenschaftlich Full Stack Entwickler in C#, TypeScript, Python. Ich habe mehrere Unternehmen gegründet und bin seit vielen Jahren IT-Leiter. Ich habe Giphys, AJAX, WebGUIs für Geräte und embedded Webserver er-funden, Microservices, Devops und REST gemacht, bevor die einen Namen hatten, den ersten Livestream im Web gesendet, das erste animierte GIF im Web gepostet und viele andere 'erste' im Web gemacht. Ich habe mal (mit anderen zusammen) den Lead-Award für Webdesign und ein paar andere Auszeichnungen für Startups bekommen. Ich interessiere mich für Wissen-schaft und Technologie, für gesellschaftliche und wirtschaftliche Entwick-lungen. Neben allen möglichen guten Geschichten mag ich realistische Zu-kunftsszenarien und Hard-Science-Fiction mit einer kleinen Ausnahme: Überlichtgeschwindigkeit, denn sonst kann man keine Außerirdischen tref-fen. Aber dafür habe ich mir was überlegt (nichts Ausgefallenes: nur mit Fraktalen, Quantenspiegeln und exotischer Materie).",
            }));

    cards.Add(Node.From(new Dictionary<string, string> {
                ["Title"] = "Andere Beschäftigungen",
                ["Text"] = @"
<dl>
    <dd><a href='http://blog.wolfspelz.de/'>Blog - Rants about Code and Life</a></dd>
    <dd><a href='https://www.weblin.io/Start'>weblin.io - Avatare auf Webseiten</a></dd>
</dl>
",
            }));

    cards.Add(Node.From(new Dictionary<string, string> {
                ["ImgSrc"] = "/images/About/Lego-Margaret-Hamilton.jpg",
                ["ImgAlt"] = "Lego Margaret Hamilton",
                ["Text"] = "<a href='https://de.wikipedia.org/wiki/Margaret_Hamilton_(Wissenschaftlerin)'>Margaret Hamilton</a>",
            }));

}

@await Html.PartialAsync("_Cards", cards)
