@page
@model AboutModel
@{
    ViewData["Active"] = "About";
}

<div class="row my-3">
    <div class="col-12">
        <h1>
            @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
            ["de-DE"] = () =>"About",
            ["en-US"] = () =>"About"
            })
        </h1>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-3 mb-3">
        <img src="~/images/About/squirrel.jpg" alt="Squirrel takes a shot" class="img-fluid">
        <p>
            Author and squirrel taking a shot.
        </p>
    </div>

    <div class="col-md-7">
        <p>
            Norden Esstisch war Kommandant beim Sondereinsatzkommando der Cloning Kontrollbehörde auf dem Asteroiden Iris. Er verhinderte, dass Androiden in menschenunwürdigen Umständen leben müssen und schrieb nie gerne Einsatzberichte. 
            Auf noch nicht geklärte Weise hat das Schicksal ihn in das Jahr 4000 u.Z. auf New Paris verschlagen, wo er jetzt Geschichtsbücher schreibt. 
        </p>
        <dl>
            <dt>Profil:</dt>
            <dd>Alter: 17 Parsec / Lj</dd>
            <dd>Typ: wissenschaftlicher Praktiker</dd>
            <dd>Beruf: IT-Manager</dd>
            <dd>Berufung: Coder</dd>
            <dd>Handicap: Detailverliebt</dd>
            <dd>Wohnort: Hamburg</dd>
            <dd>Glaube oder so: Das wissenschaftliche Prinzip</dd>
            <dd>ScienceCode: <a href="http://blog.wolfspelz.de/2021/09/cosmo-code-geek-code-for-physics-and.html">bb+/un ci0 eu+ dm+/sn de- mv/rp sm+ ss- st- lqg+ gr+ sr++ gut- fp++/gf sh0</a></dd>
            <dd>Vorbilder: Margaret Hamilton, David Pulver, Douglas C. Schmidt, Vitalik Buterin, Kelonikoa Pono</dd>
            <dd>Rant: <a href="http://blog.wolfspelz.de/2022/10/hot-fusion-technologien.html">Fusion geht besser</a></dd>
            <dd>Gute SF: <a href="http://blog.wolfspelz.de/2012/11/die-besten-science-fiction-romane.html">A Talent For War, Voice of the Whirlwind, The Cosmic Computer, The Honor of the Queen, Matter, Transhuman Space, The Earth Book of Stormgate, Schismatrix, The Mote in God's Eye, The Engines of God, Starship Troopers, Pushing Ice, A Fire Upon the Deep</a></dd>
            <dd>Ein Lieblingskunstwerk: <a href="https://www.youtube.com/watch?v=vV1YbWBSXS8">Watch The World, Sternennacht, Second Life, Vincent, Robbie Dingo, Don McLean, Vincent Van Gogh</a></dd>
            <dd>Motto: Know what you are doing</dd>
            <dd>Ziel: Spaß haben und nett bleiben</dd>
            <dd>Angst: Dass es nicht zum Upload reicht</dd>
            <dd>Marotte: Über Games lesen und Letsplays anschauen ohne selbst zu spielen</dd>
            <dd>Talent: Assoziieren</dd>
            <dd>Leidenschaft: Nachrichten</dd>
            <dd>Traum: Aprilscherze machen über die Millionen lachen</dd>
            <dd>Ideal: Anstand</dd>
        </dl>
        <p>
            Im realen Leben ist Heiner Wolf Diplom Physiker, hat einen Doktor in Informatik und ist leidenschaftlich Full Stack Entwickler (C#, Typescript). Er hat mehrere Unternehmen gegründet und ist seit vielen Jahren IT-Leiter. Er hat Giphys (giffies?), AJAX und embedded Webserver erfunden, Microservices, Devops und REST gemacht bevor die einen Namen hatten, den ersten Livestream im Web gesendet, das erste animierte GIF gepostet und viele andere "erste" im Web gemacht. Er hat den Lead-Award für Webdesign und ein paar andere Auszeichnungen für Startups bekommen. Er interessiert sich für Wissenschaft und Technologie, für gesellschaftliche und wirtschaftliche Entwicklungen. Er liebt realistische Zukunftsszenarien und Hard-Science-Fiction mit einer kleinen Ausnahme: Überlichtgeschwindigkeit, denn sonst kann man keine Außerirdischen treffen. Seit er 15 ist, schreibt er Geschichtsbücher für die Zukunft.
        <p>
        </p>
        
        <dl>
            <dt>Andere Beschäftigungen:</dt>
            <dd><a href="http://blog.wolfspelz.de/">Blog - Rants about Code and Life</a></dd>
            <dd><a href="https://www.weblin.io/Start">webin.io - Avatare auf Webseiten</a></dd>
        </dl>
    </div>
</div>
