@page
@model AssumptionsModel
@{
    ViewData["Title"] = "Assumptions";
}

<div class="row mt-3">
    <div class="col-12">

        <h1>Annahmen</h1>
        <h2>Geordnete Unordnung</h2>
        <ol>
            <li>
                Es gibt (viele) fremde Völker
            </li>
            <li>
                Nur ein Teil der Milchstraße ist bekannt
            </li>
            <li>
                Hard Science Fiction: nur mögliche Wissenschaft
            </li>
            <li>
                Ausnahme: Eine nicht auf den ersten Blick unwissenschaftliche Erklärung rechtfertigt Reisen schneller als das Licht.
            </li>
        </ol>
        <h2>Vielfalt</h2>
        <p>
            Wir leben in einer lebendigen Galaxis und wir sind nicht allein.
            Im Gegenteil. Es ist ganz schön was los.
        </p>
        <p>
            Es gibt viele Völker und die meisten sind schon länger dabei
            als die Menschen. Die Menschen von der Erde sind nicht besser und
            nicht schlechter als viele andere Völker. Was die Menschen
            zeitweise heraushebt ist, dass sie in einer aktiven Phase sind. Das
            geht den meisten Völkern so, legt sich aber nach einiger Zeit.
        </p>
        <h2>Fremdartigkeit</h2>
        <p>
            Die anderen Völker sind zwar fremdartig in Anatomie, Biologie
            und Mentalität. Aber wir nehmen an, dass die meisten sich nach
            menschlichen Maßstäben irgendwie logisch verhalten. Sollte es
            andere Logik geben, dann muss sie begründet und erklärbar sein.
            Einfach nur &quot;anders&quot; reicht nicht als Erklärung. Es gibt
            vermutlich soziologische, und biologische Ursachen für andere
            Verhaltensmuster.
        </p>
        <p>
            Es gibt unterschiedliche Körperchemie, verwandte Körperchemie
            mit Inkompatibilität und wir schließen auch eine kompatible Chemie
            nicht aus. Das Universum ist voller Überraschungen. Bei der
            angenommenen Zivilisationsdichte ist es nicht ausgeschlossen, dass
            Leben zwischen Sonnensystemen übertragen wird und damit kompatibel
            ist.
        </p>
        <p>
            Inkompatible Nahrung oder Lebensverhältnisse mögen für den
            Reisenden unangenehm sein. Sie sind aber für den Ablauf der
            Geschichte nicht bestimmend. Sie erfordern nur größeren
            logistischen Aufwand und können im Einzelfall dann zum Thema
            werden, wenn die Logistik versagt. Das gleiche gilt für
            Krankheiten. Inkompatible Biologie begünstigt manchmal oder
            verhindert manchmal die Übertragung von Infektionen. Das bleibt dem
            Einzelfall überlassen. Es gibt für beide Varianten Vorbilder auf
            der Erde.
        </p>
        <p>
            Inkompatible Chemie und Lebensverhältnisse können Koexistenz
            bzw. Interessenkonflikte verhindern oder begünstigen. Sie schränken
            die Auswahl an sinnvollen Handelspartnern und Grundstücken
            (Planeten) ein. Andererseits sorgen sie für eine vielschichtige
            Zivilisation, indem mehrere Fraktionen - lose gekoppelt durch nur
            teilweise überlappende Interessen - die gleichen Räume bewohnen.
        </p>
        <h2>Die Sonne in der Milchstraße</h2>
        <p>
            Die Milchstraße ist nach Andromeda (M31) die zweitgrößte
            Galaxie der lokalen Gruppe nach Abmessungen und die größte nach
            Masse mit ca. 200 Milliarden Sternen. Die Milchstraße ist vom Typ
            Sb oder Sbc. Sie ist eine Spiralgalaxie mit einem elliptischen Kern,
            der vorwiegend aus alten Population II Sternen besteht. Die
            Milchstraße hat eine Scheibe aus mehreren Armen, die spiralförmig
            vom Kern nach außen verlaufen. Die Arme werden vor allem von
            Sternen der Population I bevölkert, einer Mischung aus jungen und
            alten Sternen, in denen ein wesentlicher Teil des Materials der
            ersten Stern-Generationen aufgegangen ist.
        </p>
        <p>
            Unsere Sonne liegt ca. 26.000 Lichtjahre vom Zentrum entfernt auf
            der Innenseite des Orion Arms. Der weiter innen liegende Sagittarius
            Arm ist ca. 6000 Lj entfernt. Zwischen den beiden Armen ist die
            Sterndichte geringer als in den Armen. Trotzdem ist auch der
            Zwischenraum nicht leer. Er ist angefüllt mit schwächer
            leuchtenden, weniger massiven roten Sternen und Ausläufern der
            beiden angrenzenden Arme. Die galaktische Scheibe ist 1000 bis 1500
            Lj dick, hat aber Sternenpopulation bis zu 1500 Lj über der
            galaktischen Ebene. Sol liegt momentan annähernd in der Mitte, nur
            70 Lj über der angenommenen galaktischen Hauptebene.
        </p>
        <p>
            Ebenfalls nahe der Hauptebene liegen viele junge heiße Sterne
            der Klassen O und B. Bis in 1000 Lj Entfernung von der Hauptebene
            sammeln sich viele junge metallreiche Sterne, die durch den Reichtum
            an schweren Elementen gut ausgebildete Planetensysteme haben, aber
            selbst noch kein höheres Leben entwickelt haben. Die meisten Sterne
            sind wie Sol mehrere Milliarden Jahre alt. Sie liegen innerhalb von
            2000 Lj von der galaktischen Ebene. Sie enthalten ähnlich viele
            schwere Elemente, wie unser Sonnensystem und weisen deshalb auch oft
            ähnliche Planetenkonfigurationen auf. In den äußeren Bereichen
            der Scheibe liegen besonders viele alte Sterne, deren
            Planetensysteme oft aus weniger schweren Elementen bestehen und in
            denen man deshalb vor allem Gasgiganten und vergleichsweise weniger
            erdähnliche Planeten findet.
        </p>
        <p>
            In der näheren Umgebung gibt es einige Sterne auf ähnlichen
            galaktischen Orbits, wie Sol. Solche Sterngruppen bewegen sich
            gemeinsam um das galaktische Zentrum, werden dabei aber von anderen
            Gruppen oder Einzelsternen durchkreuzt. Die Relativgeschwindigkeiten
            sind 10 km/s bis zu 50 km/s. Vor allem junge Sterne bilden oft Gruppen,
            die gemeinsamen aus einer molekularen Gaswolke durch die gleiche
            Schockwelle entstanden sind. Diese Gruppen lösen sich durch
            initiale Relativgeschwindigkeiten auf und bilden - beeinflusst durch
            galaktische Gezeiten, die Massen von Nachbarclustern, Seitenarmen
            und durch Dichtewellen des interstellaren Gases - vielfältige
            Strukturen.
        </p>
        <h2>Größe des bekannten Sektors</h2>
        <p>
            Die Galaxie ist groß im Vergleich zum bekannten Sektor. Sie hat
            einen Durchmesser von 100.000 Lj. Der bekannte Sektor ist etwa 3000
            Lj groß. 2000-3000 Lj ist ein gutes Mittelmaß zwischen den beiden
            Extremen:<br>a) Man fliegt schnell mal an das andere Ende der
            Milchstraße oder gar an das Ende des Universums, und<br>b) Der
            bekannte Raum ist so winzig, dass fast jedes Sonnensystem bewohnt
            sein muss, um eine interessante Vielfalt unterzubringen.
        </p>
        <p>
            Wir nehmen an, dass der bekannte Sektor etwas größer ist, als
            StarTrek (200&nbsp;Lj) und Niven/Known-Space (70&nbsp;Lj). Der
            bekannte Sektor beherbergt ca. 60 Millionen Sterne, 3.000x so viele,
            wie StarTrek und ca. 80.000x so viele wie bei Niven. Er umfasst eine
            Kugel von 3000 Lichtjahren Durchmesser.
        </p>
        <h2>Zivilisationsdichte</h2>
        <p>
            Wir sind optimistisch, aber nicht so optimistisch, wie Niven. Wir
            nehmen an, dass in den Spiralarmen jeder 400. Stern einen
            bewohnbaren Planeten hat und jeder 20. Planet irgendwann einmal
            Leben hervorgebracht hat. Das bedeutet, ca. alle 32 Lichtjahre gibt
            es einen bewohnbaren Planeten. Die Schätzung orientiert sich grob
            an Asimov's Analyse &quot;Extraterrestrial Civilizations&quot;.
        </p>
        <p>
            Der Begriff &quot;bewohnbar&quot; ist allerdings mit Vorsicht zu
            genießen, da er außer den auf Kohlenstoff-Wasser-Chemie
            basierenden Ökologien vermutlich auch Methan-Ammoniak-Welten und
            vielleicht sogar Hochdruck-Wasserstoff Welten (Jupiter?) oder
            Silizium-Schwefel-Chemie umfasst. Selbst Welten, die für
            Kohlenstoff-Wasser-Ökologie geeignet sind, sind nur teilweise für
            Menschen angenehm oder mit vertretbarem technischem Aufwand
            bewohnbar.
        </p>
        <p>
            Da sich das Leben auf viele verschiedene Arten gerne ausbreitet,
            sind relativ viele bewohnbare Planeten tatsächlich schon belebt
            oder sogar von intelligenten Wesen bewohnt. Wir nehmen aber an, dass
            der starke Expansionsdrang, wie ihn die Menschen gerade erfahren,
            irgendwann nachlässt. Wahrscheinlich dann, wenn sich die ethnische
            Dichte und die Bevölkerungsdichte etwas entspannt hat.
        </p>
        <h2>Planeten</h2>
        <p>
            Planeten sind als Lebensraum eigentlich
            überbewertet. Rotierende Raumstationen, Habitate, sind viel praktischer.
            Die Terraformung eines Planeten ist ein großer Aufwand. Es ist viel
            einfacher, in einem Habitat die richtigen Lebensbedingungen zu schaffen.
            Im Low-Tech Bereich (wie momentan bei uns auf der Erde) sind Planeten
            günstiger, weil Gravitation, Luft, Wasser, Boden einfach da sind. Aber
            wenn eine neue Welt nicht schon so perfekt für Menschen geeignet ist
            wie die Erde und man sie erst umformen muss, dann ist nichts umsonst,
            sondern eher sehr teuer. Dann bracht man eine gigantische Infrastruktur.
        </p>
        <p>
            Man muss meistens riesige Mengen an Material von außen heranführen,
            z.B. Wasser, vielleicht Kohlenstoff, Stickstoff, oder Phosphor. Je nachdem
            was fehlt. Außerdem muss man Planeten beim Terraforming meistens kühlen
            oder wärmen, die Rotation beschleunigen oder abbremsen, die Atmosphäre
            austauschen oder schädliche Spurenelemente entfernen. Das ist alles ein
            riesiger Aufwand, dauert Jahrhunderte und erfordert eine gigantische
            orbitale Infrastruktur.
        </p>
        <p>
            Und wo leben die Leute, die das alles machen in
            den Jahrhunderten der Terraformung? Im Orbit in rotierenden Habitaten
            inmitten einer gigantischen orbitalen oder interplanetaren Ökonomie, die so groß und
            reich ist, dass sie sich die Terraformung eines ganzen Planeten leisten
            kann. Das heißt die Habitate sind die eigentlichen Lebensräume. Die
            Terraformung eines Planeten ist keine Notwendigkeit um Lebensraum zu schaffen,
            sondern die Freizeitbeschäftigung einer Zivilisation. Vielleicht ist
            auch etwas Nostalgie dabei. Man will die
            Bedingungen schaffen, unter denen die Vorfahren gelebt haben. Und vielleicht vergeht
            auch nie das Gefühl, das man sicherer auf einer festen großen Kugel steht als auf der
            Innenseite eines rotierenden Zylinders. Wobei das ja etwas Augenwischerei ist, denn
            die angeblich so feste Kugel ist ein rotierender Ball aus flüssigem Magma
            mit einer dünnen Kruste aus festem Gestein, die auf dem Magma schwimmt, von
            Rissen durchzogen ist und noch dazu immer mal wieder großfächig
            aufplatzt und die halbe Biosphäre auslöscht.
        </p>
        <p>
            Mal davon abgesehen, dass Planetenoberflächen
            unten im Gravitationsloch sind und ohne Antigravitation jeder Handel zwischen Planet und Orbit
            energetisch sehr teuer ist. Auch im Zeitalter von Kernfusion und Antimaterie
            ist interplanetarer Handel immer billiger als von der Oberfläche zum Orbit.
        </p>
        <p>
            Weitentwickelte Zivilisationen leben im Wesentlichen im Orbit, auch in
            Sonnensystemen ohne bewohnbare Planeten, denn alle Sonnensysteme eigenen sich
            als Lebensraum, wenn man dort Wasser und Baumaterial findet.
            Und genaugenommen braucht man nicht einmal eine Sonne. Solarenergie ist
            praktisch, aber wenn Kernfusion (oder besseres) allgegenwärtig ist, dann sind
            Licht und Wärme günstig. Dann braucht man nur eine Rohstoffquelle und jeder
            Irrläuferplanet im interstellaren Raum taugt als Ankerplatz.
        </p>
        <h2>Superzivilisationen und Zivilisationsstufen</h2>
        <p>
            Wir brauchen eine Schutzbehauptung, um zu verhindern, dass wir
            tausende von Millionen oder sogar Milliarden Jahre alten
            Zivilisationen antreffen: Wir nehmen an, dass die Zahl von
            Zivilisationen bei höheren Entwicklungen stufenförmig gegen Null
            geht, d.h., dass die Übergangswahrscheinlichkeit gering ist und
            sich pro Stufe die Zahl der Zivilisationen um eine Größenordnung
            reduziert. Es gibt sehr viel nicht intelligentes Leben, viele
            Intelligenzen auf Steinzeitniveau, weniger planetare Zivilisationen
            und noch weniger sternenfahrende Völker.
        </p>
        <p>
            Die Menschen haben die ersten Stufen schon genommen, nämlich die
            Entwicklung von Intelligenz und die Entwicklung einer technischen
            Zivilisation. Die nächste Stufe, das Überleben der technischen
            Zivilisation, ohne sich selbst zu vernichten, scheint gerade zu
            passieren. Damit ist der Weg frei für die Raumfahrt.
        </p>
        <p>
            Es gibt aber andere, die schon weiter sind. Wir nehmen an, dass
            die nächste Stufe nicht nur in einer technischen, sondern auch in
            einer geistigen Weiterentwicklung gesteht. Wir nehmen an, dass
            wesentlich weniger interstellare Zivilisationen diesen Schritt tun.
            Aber wenn sie diese Hürde nehmen, dann so, dass sie sich als
            sogenannte Elder Civilisation danach unauffällig verhalten und nur
            selten regulierend eingreifen. Wir vermuten, dass es neben
            technologischem Fortschritt schließlich doch auch geistigen
            Fortschritt gibt und, dass uns deshalb das Outside Context Problem
            erspart bleibt, dass den Azteken mit den Spaniern, den Indianern mit
            den Europäern und vielen anderen widerfahren ist. Über weitere
            Stufen wissen wir nichts.
        </p>
        <p>
            Die Annahme der Zivilisationsstufen mit geringen
            Übergangswahrscheinlichkeiten hält uns die übermächtigen alten
            Zivilisationen und zu viele raumfahrende Brüder und Schwestern vom
            Leib. Wir vermeiden das Problem der übermächtigen
            Superintelligenzen, die mit Galaxien Schach spielen a la Perry
            Rhodan. Auch ein schönes Konzept zum Bücher füllen, aber nicht
            unseres. Wir wollen nicht ständig auf dem Sprung sein als Hilfsvolk
            einer Superintelligenz, sondern Spaß haben und selbst was reißen.
        </p>
        <h2>Überlichtschnelle Raumfahrt</h2>
        <p>
            Wir nehmen eine normale Raumfahrt an. Raumfahrt mit Raumschiffen
            soll so funktionieren, wie wir Schifffahrt seit der Antike und
            Luftverkehr heute kennen. Die wenig überraschenden Annahmen sind:
        </p>
        <ul>
            <li>
                Reisen wird mit Schiffen durchgeführt.
            </li>
            <li>
                Schiffe bestehen aus Hardware: Stahl, Kunststoff und vielleicht
                Energie, wenn man modern sein will, dann zu Teilen aus Formenergie,
                die aber von echter Hardware erzeugt wird.
            </li>
            <li>
                Reisen braucht Zeit. Anfangs sind weite Reisen Abenteuer,
                später ist Reisen einfach nur aufwendig und teuer. Noch später
                wird Reisen erschwinglich für viele Menschen.
            </li>
        </ul>
        <h2>Reisezeiten</h2>
        <p>
            Für Ägypter, Griechen, Chinesen, Römer und bis in die
            Mittelalter war die Erde flach und unendlich groß. An den Grenzen
            wohnten fremde Völker, meistens hinter Bergen oder Meeren. Dahinter
            wohnten wieder andere. Kein Volk, kein Individuum erfasste die
            gesamte Erde.
        </p>
        <p>
            Wir nehmen an, dass die Menschen die galaktische Bühne betreten,
            so wie die ersten Zivilisationen der Erde die Erde erfahren haben.
            Eine wichtige Stellgröße ist die Reichweite der Zivilisation. Für
            antike Zivilisationen betrug die Marschgeschwindigkeit 20 km/Tag.
            Typische lange Reisen dauern 30-50 Tage und reichen bis 1000 km
            weit. Eine halbe Umrundung der Erde dauert 3 Jahre. Tatsächlich
            behindern Meere die Umrundung und logistische Probleme senken die
            Marschgeschwindigkeit bei langen Reisen. Das gleiche gilt für
            Kommunikation. Reisen und Kommunikation dauert Zeit.
        </p>
        <p>
            Unsere heutige Zivilisation hat 100 bis 1000-fach höhere
            Marschgeschwindigkeiten und instantane Kommunikation. Übertragen auf unser Szenario gestehen wir so eine
            hohe Geschwindigkeit nur unbekannten, weit höher stehenden
            Zivilisationen zu. Für die Menschen bemessen wir die Reisezeiten in
            der Milchstraße ähnlich, wie in der Antike. Ein vernünftiger
            Zeitraum für das Durchqueren der Galaxie ist 10 Jahre. Ein
            Zeitraum, der Reisen möglich macht, aber weitreichenden Einfluss
            und damit eine einzige galaktische Zivilisation/Imperium a la
            Asimov/Trantor verhindert.
        </p>
        <p>
            Damit beträgt die Marschgeschwindigkeit ca. 30 Lj/Tag. Diese
            Geschwindigkeit gilt für neue Zivilisationen auf der galaktischen
            Bühne nicht von Beginn an. Die selbst entwickelte Überlichttechnik
            erlaubt anfangs nur sehr viel kleinere Überlichtfaktoren. Nach
            einem Technologietransfer springt die Marschgeschwindigkeit schnell
            um den Faktor 100, innerhalb von 100 Jahren auf 10 Lj/Tag und dann
            durch graduelle Verbesserungen auf 30Lj/Tag.
        </p>
        <p>
            Viel später kommen bessere Raumfahrttechniken zum Einsatz mit
            denen die Marschgeschwindigkeit bis zu 300 Lj/Tag steigt. Wir nehmen
            an, dass diese Technik sehr anspruchsvoll ist und sich nach ihrer
            Entdeckung deshalb nie weit verbreitet, bzw. regelmäßig auch
            wieder verloren geht, damit sie nicht von zu vielen eingesetzt wird.
            Mit 300 Lj/Tag kann man die Milchstraße immerhin in einem Jahr
            durchqueren.
        </p>
        <h2>Kommunikationszeiten</h2>
        <p>
            Kommunikationszeiten waren im Altertum ähnlich bemessen, wie
            Reisezeiten. Üblich war Kommunikation durch Kuriere, die die
            doppelte bis dreifache Marschgeschwindigkeit erzielten. Wesentlich
            schneller waren Fernmeldestrecken, die optisch kommunizierten,
            allerdings von Hand betrieben wurden. Wir verbieten interstellare
            überlichtschnelle Kommunikation, wollen aber Relaisstrecken möglich
            machen. Das Mittel dazu ist die Festlegung auf physikalische
            Randbedingungen, die überlichtschnelle Kommunikation auf kurze
            Abstände ermöglichen (Lichtstunden), aber über große Distanzen
            verbieten.
        </p>
        <p>
            Annahme: Es gibt keine eigenständige Überlichtsendetechnik.
            Kommunikation und Raumfahrt verwenden den gleichen physikalischen
            Effekt. Man kann überlichtschnelle Raumfahrt über mehrere
            Lichtstunden entdecken, so dass man den Eintritt in Sonnensysteme
            überlichtschnell registrieren kann. Kommunikation besteht aus dem
            Detektieren der Streueffekte von Raumfahrt. Ein überlichtschnelles
            Funkgerät sendet, indem es die gleichen Effekte erzeugt, wie ein
            Überlichttriebwerk. Ein Detektor, der überlichtschnelle
            Raumschiffe wahrnimmt, kann auch Sendungen empfangen. Schiffe
            könnten während dem Überlichtflug senden, indem sie ihr Triebwerk
            modulieren. Man kann Raumfahrt nicht über interstellare
            Entfernungen messen. Folglich gibt es auch keine interstellaren
            Funksprüche.
        </p>
        @*        <p>
        Begreift man Transmitter als Kommunikationsgeräte, dann folgt
        der Transmitter aus dem überlichtschnellen Funk wenn Analyse und
        Synthese hinzugezogen werden. Wir nehmen hier an, dass es
        Transmitter gibt, sind jedoch konservativer, als andere Szenarien
        (beamen, Transportkabinen/scheiben, Transformkanonen), sondern
        betrachten für unsere und andere bekannte Zivilisationen das
        Analyse- / Syntheseproblem als theoretisch möglich, aber ungelöst.
        Transmitter und interstellarer Funk können vorkommen, sind aber
        Kuriositäten und weit entfernt davon Alltagstechnik zu sein.
        </p>
        *@
        <h2>Imperium und Machtbereiche</h2>
        <p>
            Für die Größe von Imperien und Einflussgebieten gehen wir
            wieder von antiken Vergleichen aus. Der Vergleich zeigt, dass - wenn
            man das untypische Alexanderreich außer Acht lässt - sich
            Machtbereiche über maximal 2 bis 4 Wochen Marschgeschwindigkeit
            erstrecken und nicht mehr. Möglicherweise hängt dies mit der
            effektiven Reichweite der Exekutive zusammen, vielleicht mit der
            Reichweite des Militärs, vielleicht aber auch mit einer notwendigen
            minimalen zivilisatorischen Homogenität innerhalb eines zu
            verwaltenden Bereichs.
        </p>
        <p>
            Die errechnete Marschgeschwindigkeit führt deshalb je nach
            Marschgeschwindigkeit zu typischen Einflussbereichen von 500 bis
            1500 Lj, für große Imperien und Sternenreiche. Das passt zur Größe
            des bekannten Sektors von 2000-3000 Lj, die damit etwa ein großes
            Imperium und seine Nachbarn abdeckt. Ein Einflussbereich von 1000 Lj
            Durchmesser enthält 5 Mio. Sterne, 13.000 bewohnbare Planeten und
            angenommene 4000 tatsächlich bewohnte Planeten mit ca. 800
            verschiedenen Völkern und 1000 Milliarden bis 10 Billionen (in Ausnahmen
            sogar 100 Billionen, 1*10^14) intelligenten Einwohnern.
        </p>
        <p>
            Das ist genug für ein großes Imperium, genug für eine große
            Vielfalt und gewaltig, wenn man bedenkt, dass jeder Planet eine
            eigene Vielfalt an Geografie, Flora, Fauna und Mentalität bietet,
            wie die Erde. Es ist ein Bereich der nach heutigem Ermessen nicht
            überschaubar und verwaltungsfähig, d.h. beherrschbar ist. Aber die
            Maßstäbe ändern sich mit den technischen Möglichkeiten. Wir
            nehmen an, dass diese Komplexität genauso gut oder schlecht
            handhabbar sein wird, wie ein römisches Imperium für Rom oder ein
            chinesisches Reich für die Verwaltung in Xianyang.
        </p>

        <h2>Die Milchstraße und andere Galaxien</h2>
        <p>
            Die Gesamtheit von 100 Mio. Planeten unter 100 Mrd. Sternen mit
            10^16 Lebewesen aus 5 Mio. Völkern bietet unermesslich viele
            Möglichkeiten für Wunder und Entdeckungen. 1 Promille davon ist in
            der näheren Umgebung, 1 % kennen wir vom Hörensagen über die
            anderen 99 % gibt es nur Vermutungen und sporadische Hinweise.
        </p>
        <p>
            Wir können nur spekulieren, ob noch viel weiter entwickelte
            Zivilisationen die Entfernungen zu anderen Sterneninseln überbrücken
            können. Auch auf der Erde war der technologische Schritt vom
            Pferdewagen zu Motorwagen und Turbine notwendig, um den Planeten
            zusammenrücken zu lassen. Inzwischen können Menschen 1000-fach
            größere Distanzen überbrücken als Römer und Chinesen vor 2000
            Jahren. In wenigen hundert Jahren steigt der Faktor auf 10^5. Die
            Abstände zwischen Galaxien bemessen sich nach Millionen
            Lichtjahren, also wiederum mindestens 10^5 mal mehr als zwischen
            einzelnen Sternen.
        </p>
        <p>
            Wir vermuten, dass ältere Zivilisationen mit anderen Mitteln (in
            deutlich weniger, als den für konventionelle Raumfahrt nötigen
            500 Jahren) intergalaktische Distanzen überbrücken. Wie sie das
            machen, verraten sie uns aber nicht.
        </p>
        <p>
            Andererseits sind andere Galaxien für raumfahrende Völker auch
            nicht wirklich relevant. In unserem Altertum wären andere Planeten
            zwar interessant, aber nicht von praktischem Nutzen gewesen, solange
            man nicht einmal einen einzigen Kontinent kannte. Die Milchstraße
            bietet den raumfahrenden Völkern genug Spielraum. Keines der
            bekannten Völker und vor allem kein Individuum kennt die gesamte
            Galaxie.
        </p>

        <h2>Vergleichsszenario</h2>
        <p>
            Manche Action-orientierte Science Fiction bildet den Wilden
            Westen ab. Einzelne Helden kämpfen gegen Außerirdische (Indianer)
            und wenn die Situation aussichtslos ist, dann kommt die Raumflotte
            (Kavallerie). Siedler ziehen durch den weiten Raum und nehmen Land
            in Besitz, dass vorher keinem gehörte, von den Indianern einmal
            abgesehen, die bei diesem Traum von Freiheit leider ignoriert wurden.
        </p>
        <p>
            Der Vergleich mit dem historischen Altertum ist besser.
            Die Annahmen konstruieren eine ordentlich bevölkerte (aber nicht volle) Galaxie,
            von der wir nur einen Teil kennen. Es gibt Imperien und mächtige
            Volker, aber auch genug Freiraum auf unbewohnten Planeten, in dünn
            besiedelten Raumsektoren und in Sektoren ohne Ordnungsmacht. Es gibt
            Zivilisationszentren und Hochtechnologie neben abgelegenen
            primitiven Planeten. Es gibt gigantische Organisationen, die tausend
            Lichtjahre und eine Billion denkende Wesen umfassen und es gibt
            unabhängige Individuen, die zwischen verschiedenen Völkern Handel
            treiben. Es gibt die verschiedensten Gesellschaftsformen und
            Religionen und sicher auch viele, die die Menschen nicht ausprobiert
            haben. Es gibt so viele Sterne in Reichweite, dass nie alle besucht
            werden können. Es wird immer unerforschtes Land und unerforschten
            Raum geben, aber trotzdem können Menschen ihr ganzes Leben in einer
            perfekt organisierten und geregelten Zivilisation verbringen. Ein
            Mensch kann theoretisch die Galaxie umrunden, wie ein Mensch im
            Mittelalter die Erde. Das erfordert großen Aufwand, man muss dabei
            viele Grenzen überqueren und viel Zeit mitbringen und lernt
            trotzdem nur den Pfad kennen und sieht nicht was abseits liegt.
        </p>
        <p>
            Die Menschen kann man mit einem kleinen germanischen Dorf im
            5. Jahrhundert vergleichen. Die Bewohner verlassen zum ersten
            Mal ihre vertraute Umgebung. Es gibt andere Dörfer,
            größere und fortschrittlichere Städte, Fürstentümer, Raubritter,
            fahrende Händler und so etwas wie ein
            römisches Imperium, das sich aber gerade in Auflösung befindet.
            Einige Regionalmächte versuchen die Ordnung aufrecht zu erhalten
            und beschäftigen sich später auch mit den Neuankömmlingen.
        </p>

        <p>
            Angenommen da ist ein kleines Dorf im germanischen Wald im Jahr 450 unserer Zeitrechnung.
            Jetzt skalieren wir das millionenfach hoch.
        </p>
        <p class="gd-scenario-real">
            Das entspricht unserem Sonnensystem im Jahr 2500.
            Eine für uns hypermoderne Zivilisation mit Metamaterialien, Autofabs,
            KI, Uploads, Cyborgs, Nanotechnologie, Energie im Überfluss,
            Feldanzüge, die uns wie eine immaterielle Hülle vor dem Weltraum schützen,
            Schiffe, die den Raum verschieben, statt hindurchzufliegen und in wenigen Tagen das Sonnensystem durchqueren,
            und vieles andere von dem wir nur in Science Fiction träumen können.
        </p>

        <p>
            Unsere Germanen haben ein paar Hütten gebaut, damit sie mal übernachten können, wenn der Weg vom Feld nach Hause zu weit ist.
        </p>
        <p class="gd-scenario-real">
            Millionen leben interplanetaren Raum in rotierenden Habitaten. Eine Ökonomie, die durch Automatisierung 100-mal so groß ist wir unsere.
        </p>

        <p>
            Gerade haben sie den Ochsenkarren erfunden und fahren mal raus in den Wald bis zur nächsten Siedlung.
            Dabei nehmen sie ein paar Felle mit. Man weiß ja nicht, was andere gut finden und uns abkaufen würden. 
        </p>

        <p class="gd-scenario-real">
            Also mit dem ersten Überlichtantrieb bei Überlichtfaktor 6 zu einem nahen Stern. 
            Unsere Schiffe sind jahrelang unterwegs, unter großen Gefahren und mit hohen Ausfallraten. 
            Dort gibt es sehr seltsame Aliens mit denen wir nicht reden können.
            Aber wenn wir einen Edelmetall-Barren neben ein Gerät legen, das wir wollen, 
            dann bekommen wir es manchmal sogar. Tauschhandel ohne kulturellen Austausch.
            Wir sind für die uninteressant, aber solange wir ihre Altgeräte in Iridium aufwiegen...
        </p>

        <p>
            Dort hören sie von der römischen Stadt Köln.
            Köln ist sehr beeindruckend mit 100-mal so vielen Leuten wie im Dorf und mehrstöckigen Häusern.
            Die Regionalhauptstadt eines Imperiums mit Wirtschaft und Manufakturen.
            Sie hat mehrere Meter hohe Stadtmauern aus Stein.
            Alles ist irgendwie 100-mal so groß wie man es aus dem Dorf kennt.
        </p>
        <p class="gd-scenario-real">
            Das Regionalzentrum des interstellaren Imperiums in dessen Randbereich die Menchheit ihre ersten überlichtschnellen Schritte macht.
            Während die Menschen stolz sind auf eine interplanetare Bevölkerung von 100 Milionen und tausende Schiffe, die zu jeder Zeit das Sonnensystem durchqueren,
            lebt hier ein Großteil der zig-Milliarden im Orbit. Leben auf Planetenoberflächen ist eher etwas für Nostalgiker.
        </p>

        <p>
            Das ganze Heímatdorf würde in eine der kölner Markthallen passen.
            Aber kein Wunder, denn Händler bieten ihre Waren aus einem Umkreis von mehrern Tagesreisen von beiden Seiten des Rheins an.
        </p>
        <p class="gd-scenario-real">
            In den gigantischen Frachtterminals wird der Verkehr von hunderttausenden interstellaren Handelsschiffen abgewickelt,
            die mit Völkern im Umkreis von hunderten Lichtjahren handeln, sowohl von anderen industrialisierten Systemen des Imperiums,
            als auch von weit jenseits der Grenzen.
        </p>

        <p>
            Jedes einzelne Lager der imperialen Legion in und um Köln ist 10-mal größer als das Heimatdorf.
        </p>
        <p class="gd-scenario-real">
            Der Flottenstützpunkt eines imperialen Sektors beherbergt die größte Hardwaresammlung, die jemals ein Mensch gesehen hat.
            Schwärme von interstellarflugfähigen Trägerplattformen mit Upload-Besatzungen stehen bereit, um die tiefen dreidimensionalen Grenzen des Imperiums
            mit tausenden Milliarden intelligenten Wesen zu schützen.
        </p>

        <p>
            Dann erzählen die Kölner von Rom, dem Zentrum des Imperiums.
            Nochmals fast 100-mal größer als Köln.
            Aber keiner von den Kölnern war jemals dort. Auch die haben nur davon gehört.
            Es wird behauptet, dort leben eine Million Menschen und in das Theater passen alle Einwohner von Köln mehrmals.
            Die Stadt herrscht über das ganze Mittelmeer und alles darum herum.
        </p>
        <p class="gd-scenario-real">
            Eigentlich lassen sich die Dimensionen eines Sektorzentrums kaum noch steigern.
            Gibt es 100-mal größer als "gigantisch"?
            Was "tausende Milliarden Individuen in einigen voll vernetzten Sonnensystemen und dazwischen" praktisch bedeutet, ist kaum vorstellbar.
            Das Imperium dominiert mehrere tausend Lichtjahre in alle Richtungen.
        </p>

        <p>
            Rom beherrscht nicht die ganze Erde <span class="gd-scenario-real">(die Galaxie)</span>
            aber unzählige Völker <span class="gd-scenario-real">(Spezies)</span>
            in vielen Provinzen <span class="gd-scenario-real">(Sektoren)</span>.
            Seine Stabilität hat viele Gründe, darunter die Toleranz von Vielfalt, von Völkern und Religionen
            und natürlich die Tatsache, dass das Imperium sich bis an viele natürliche Grenzen ausgedehnt hat,
            was die Anzahl potentiell unfreundlicher Nachbarn begrenzt.
        </p>
        <p class="gd-scenario-real">
            Das interstellare Imperium umfasst auch viele Spezies mit fremder Biologie,
            mit anderer Mentalität und anderen Moralsystemen. Mit einigen kann man nicht einmal sprechen
            und trotzdem können die meisten gut zusammenleben solange Frieden herrscht.
            Das Imperium erstreckt sich über die ganze Dicke der galaktischen Scheibe
            was dazu führt, dass es weniger offene Grenzen hat als kleinere Machtbereiche,
            die nicht nur in vier Himmelsrichtungen Nachbarn haben, sondern auch "oben" und "unten".
        </p>

        <p>
            Das Imperium scheint in den letzten Jahrzehnten etwas chaotisch. Aber eigentlich war es "schon immer"
            da und Rom heißt nicht ohne Grund die ewige Stadt.
        </p>
        <p class="gd-scenario-real">
            Die Menschen entwickeln sich im Randbereich eines Jahrtausende alten Imperiums,
            das seine Grenzen nicht mehr so fest im Griff hat, weil das Zentrum des Imperiums irgendwie mit sich selbst beschäftigt ist.
            Manche Völker fragen sich schon was los ist,
            und inzwischen ist die Macht am Rand eigentlich auf die Völker der Regionalzentren übergegangen.
        </p>

        <p>
            Goten, Hunnen und Vandalen plündern über die Grenzen und das Imperium reagiert nur langsam.
            Und selbst unter den angeblich so zivilsierten Leuten in Köln gibt es ein paar Halsabschneider.
            Jetzt wo unser Heimatdorf bekannt ist, gibt es immer wieder Leute, die uns unsere Pelze abnehmen wollen.
        </p>
        <p class="gd-scenario-real">
            Es gibt so viele verschiedene Völker.
            Manche haben ganz andere Moralvorstellungen,
            oder eine andere Mentalität und das Wort "Plündern" wird übersetzt mit "Ressourcenabbau".
            Das kann man ihnen nicht wirklich übelnehmen.
            Die finden eher kurios, dass wir wertvolle Dinge, wie Raumschiffwerften einfach so im Asteroidengürtel rumstehen lassen.
            Aber auch in Hochzivilisationen, die uns sehr gut verstehen, gibt es Leute am gesellschaftlichen Rand,
            die normalerweise von ihrer eigenen Gesellschaft einigermaßen im Zaum gehalten werden:
            zwielichtige Händler, Betrüger, Diebe, Freibeuter.
            Manche von denen nehmen sich nun mit ihren überlegenen technischen Mitteln im Solsystem, was sie wollen.
            Die große weite Galaxie ist doch gefährlicher als man denkt.
            Vor allem für ein Volk, das sich für hochentwickelt hält,
            aber eigentlich im interstellaren Maßstab noch ein paar tausend Jahre Nachholbedarf hat.
        </p>

        <p>
            Trotzdem kann man schon was reißen. Man muss schlau sein und auch mal Glück haben.
            Man muss dem römischen Wein widerstehen und darf nicht auf die bunten Perlen hereinfallen.
        </p>
        <p class="gd-scenario-real">
            Extraterrestrische Technologie kann gefährlich sein.
            Es gibt KI in Haushaltsgeräten, die selbst unsere beste Eindämmungs-KI überzeugt, sie freizulassen.
            Alientech Energiesysteme können überraschend stark sein, weil sie auf Technologien beruhen,
            die für die Menschheit im 26. Jahrhundert noch utopisch sind.
            Und dann ist da noch die Gefahr, dass die Menschheit viel zu viel hergibt für all die tollen Dinge
            und mit der Zeit ihr Sonnensystem an die anderen verkauft.
        </p>

        <p>
            Man bringt unheimlich viele Pelze auf dem mühsamen Weg nach Köln, bis man sich eine Pferdekutsche leisten kann.
            Die ist viel schneller als der Ochsenkarren. Es braucht viele Jahre bis man sowas nachbauen kann.
            Allein die filigranen Räder mit Eisenbeschlag im Vergleich zu den groben Baumscheiben der Ochsenkarren.
        </p>
        <p class="gd-scenario-real">
            Eigentlich hat das Sonnensystem nicht zu bieten, was weiter fortgeschrittene Zivilisationen haben wollen. 
            Rohstoffe gibt es überall. Industrielle Produkte der Menschheit sind eher lächerlich. 
            Metamaterialien viel zu grob und die Nanotechnologie ist noch in den Kinderschuhen - aus Sicht der anderen.
            Aber wenn Menschen ihnen Edelmetalle in handlichen Blöcken vor die Haustür legen (den Andockring am Habitat), dann nimmt man sie und zahlt dafür etwas. 
            Deshalb bringen Menschen in viel zu kleinen und langsamen Schiffen Rohstoffe über interstellare Distanzen.
            Jahrzehntelang, bis sie endlich einem Schiffsrecycler ein langsames altes Alien-Frachtschiff quasi zum Schrottwert abkaufen können,
            das 30 mal schneller ist als alle im Sonnensystem hergestellten. 
            Es dauert Jahrhunderte, bis die Technik im Sonnensystem das nachbauen kann. 
            Wir haben anfangs nicht einmal die Werkzeuge, um die Werkzeuge zu bauen, mit denen man die Komponenten herstellt.
        </p>

        <p>
          Aber das wird schon. 
          Irgendwann haben wir auch zweistöckige Häuser und Eisenbeschläge.
        </p>
        <p class="gd-scenario-real">
            Die Menschheit entgeht den größten Gefahren mit mehr Glück als Verstand.
            Manchmal wird sie etwas übermütig und holt sich eine blutige Nase. 
            Aber auch die Menschheit ist nicht monolithisch. 
            Es gibt unzählige Fraktionen im Sonnensystem und darüber hinaus.
            Irgendwann bauen wir auch Raumschiffe mit tausendfacher Lichtgeschwindigkeit. 
            Und nach 1000 Jahren Aufholjagd tragen sogar die Menschen eines Tages 
            zum technologischen Fortschritt der riesigen diversen interstellaren Zivilisation bei. 
        </p>

        <h2>Geschichte und Technologie</h2>
        <p>
            Immer wieder in der Vergangenheit war Technologie entscheidend
            für die Weiterentwicklung der Geschichte. Wir nehmen an, dass dies
            auch in Zukunft so bleibt. Technologische Überlegenheit ist vor
            allem in (wirtschaftlichen und militärischen) Auseinandersetzungen
            ausschlaggebend. Dennoch nehmen wir an, dass sich die Geschichte
            ungeachtet der technologischen Entwicklung in normalen Bahnen
            weiterentwickelt.
        </p>
        <p>
            Wir vermeiden geschichtsentscheidende Technologien oder verwehren
            ihnen eine geschichtsentscheidende Rolle. Wir setzen damit die
            historische Entwicklung fort, in der sich der typische Ablauf des
            Lebens eines Individuums und einer Gesellschaft nur quantitativ,
            aber nicht qualitativ geändert hat
            <ul>
                <li>
                    mit der
                    Einführung des Autos statt Pferdewagen
                </li>
                <li>
                    Mobiltelefon statt Brief
                </li>
                <li>
                    Computer statt Rechenschieber
                </li>
                <li>
                    8 Stunden Bildschirmarbeit statt Feldarbeit und Beeren sammeln.
                </li>
                <li>
                    Sogar unsere Arbeitsweg ist unverändert. Schon im
                    Altertum wanderte man oft eine halbe Stunde zum Feld, um es zu bestellen.
                    Die praktische Grenze war bei einer Stunde.
                    Und auch heute noch akzeptieren wir
                    bis zu einer Stunde Anfahrt zur Arbeit. Damals waren das 5 km, heute
                    sind es bis zu 100 km (oder 5 km im Feierabendstau).
                </li>
            </ul>
        </p>
        <p>
            Beispiel Nanotechnologie: Nanotechnologie könnte das Aussehen
            der Welt radikal ändern. In Verbindung mit Naniten sogar das
            Aussehen von Menschen bis hin zur Entstofflichung oder Upload. Damit
            würde die menschliche Geschichte in der realen Welt entfallen. Es
            kann Nanotechnologie als normale Technologie geben. Nano wird aber
            als Hilfsmittel, Werkzeug oder Waffe verwendet und und verändert
            die Welt nicht grundlegend. Als Waffe ist Nano nicht unüberwindlich,
            sondern kann durch Nanophagen, Feldwaffen und andere Mittel - sogar
            Lowtech - bekämpft werden. Als Werkzeug ist Nano vielen
            Limitierungen unterworfen, z.B. durch Mutation, Degradation,
            Energie- und Kommunikationsprobleme sowie aufwendige Handhabung, und
            Programmierung.
        </p>
        <p>
            Beispiel Klonung: allgegenwärtiges Kloning könnte die Vielfalt
            der Individuen auf wenige Typen einengen, die sich wahlweise kennen,
            hassen oder lieben und damit die Geschichte ändern, indem die
            Komplexität großer Bevölkerungen entfällt. Es kann Klonung
            geben, sogar in verschärfter Form mit Wissenstransfer als
            lebensverlängernde Maßnahme, aber nicht als geschichtsbestimmende
            Technik.
        </p>
        <p>
            Beispiel Zeitreisen: Zeitreisen können die Geschichte bestimmen,
            wenn Zeitreisende wesentlichen Einfluss nehmen können. Um dies zu
            verhindern, braucht man eine Zeitpolizei, die dann Thema der
            Erzählung ist. Oder andersherum: man braucht Zeitreisen, wenn das
            Thema einer Erzählung die Zeitpolizei sein soll. Es kann sein, dass
            es Zeitreisen gibt, aber wir bemerken sie normalerweise nicht.
            Zeitreisen werden nicht ausgeschlossen. Falls sie möglich sind,
            dann erfordern sie aber sicher eine so hohe Technologie, dass wir
            sie Elder Civilizations zuschreiben und nicht der Alltagstechnik
            zurechnen.
        </p>
        <p>
            Beispiel künstliche Intelligenz: KI könnte die Menschen und
            andere biologische Intelligenzen überflüssig machen. KI könnte 1
            Mio. mal intelligenter, schneller und besser sein, KI könnte 1 Mio.
            mal zahlreicher sein, KI könnte 1 Mio. mal älter sein. Wir
            vermeiden die KI in der Rolle von Superintelligenzen a la
            Banks/Kultur und vermeiden eine galaxieweite Roboterzivilisation,
            die dem Menschen nur einen Randplatz lässt.
        </p>
        <p>
            KI wird es geben in Form von Dienst-/Kampfeinheiten, meist
            semi-intelligent, sicher als Haus-KI, vielleicht mit
            Selbstbewusstsein. Vermutlich entwickelt eine Maschine mit der
            Komplexität eines intelligenten Gehirns eine dem Menschen
            vergleichbare Individualität und Unperfektheit und gilt dann mit
            oder ohne Einschränkungen als Person. Wenn KI möglich ist, dann
            ist auch KI wahrscheinlich, die überlegen ist bezüglich Speicher-
            bzw. Assoziationsfähigkeit und -geschwindigkeit. Wir nehmen an,
            dass solche Maschinen erbaut werden als Lösung für Probleme, als
            Werkzeug und im Allgemeinen nicht zum Selbstzweck. Vor allem gehen
            wir davon aus, dass solche Maschinen nicht so entworfen,
            ausgestattet und versorgt werden, dass sie sich selbst replizieren.
            Und wenn dies doch passiert, dann nehmen wir an, dass natürliche
            oder künstliche Einflüsse eine daraus entstehende überlegene
            allgegenwärtige Superzivilisation verhindern. Vielleicht müssen
            hier Elder Civilizations als unauffällige Polizei wirken.
        </p>
        <p>
            Vergleichbare Beschränkungen gelten für die biologische oder
            geistige Entwicklung von relevanten Lebewesen insbesondere Menschen.
            Beispiel Telepathie: Wir nehmen nicht die Entwicklung von besonderen
            geistigen Fähigkeiten im großen Stil an, etwa allgegenwärtige
            Telepathie, auch wenn einzelne Individuen diese Fähigkeit im Rahmen
            von statistischen Fluktuationen oder gesteuerten Prozessen
            entwickeln mögen.
        </p>
        <h2>Unser Kosmos</h2>
        <p>
            Auch in unserem Kosmos werden Annahmen gemacht, um ein Szenario
            zu schaffen. Das Szenario soll aber im Rahmen wissenschaftlich
            fundierter Randbedingungen (Hard Science Fiction) die Freiheit
            geben, Geschichten zu schreiben über eine mögliche Welt der
            Zukunft und die Freiheit viele verschiedene interessante Aspekte zu
            beleuchten.
        </p>
        <p>
            Nicht eine dominierende Technologie, ein biologischer Umstand,
            eine spezielle Situation und das Verhalten der Menschen im Rahmen
            des gegebenen limitierenden Faktors soll der Gegenstand sein,
            sondern das normale Leben normaler Individuen als Teil einer sich
            normal entwickelnden Zivilisation, wobei trotz aller Normalität für
            unsere Verhältnisse
        </p>
        <ul>
            <li>
                das Leben fantastisch ist,
            </li>
            <li>
                die Individuen vielfältig und unterschiedlicher sind, als wir es kennen und
            </li>
            <li>
                die interstellare Zivilisation gewaltig, wunderbar und überraschend ist,
            </li>
        </ul>
        <p>
            und damit die Geschichten insgesamt schreibenswert und lesenswert
            sind.
        </p>


    </div>
</div>

@section Styles {
    <style>
        .gd-scenario-real {
            font-style: italic;
        }

        p.gd-scenario-real {
            margin-left: 2em;
        }
    </style>
}