@page
@using Markdig
@model BookModel
@{
    Layout = "_BookLayout";
    var pipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .Use(new CustomListExtension() { Prefix = "MARK_LIST_ITEM " })
        .Use(new CustomHeadingRendererExtension { Prefix = "MARK_HEADING1 ", Suffix = "" })
        .Build();
}

@foreach (var entry in Model.List) {
    <div>
        <p>MARK_TITLE</p>
        <p>@(entry.Year) MARK_TAB @entry.Title</p>
        <p>MARK_TEXT_BEGIN</p>
        @foreach (var t in entry.Text) {
            @Html.Raw(Markdown.ToHtml(t, pipeline))
        }
        <p>MARK_TEXT_END</p>
    </div>
}
