@page
@using Markdig
@model BookModel
@{
    Layout = "_BookLayout";
}

@foreach (var entry in Model.List) {
    <div>
        <p>MARK_TITLE</p>
        <p>@(entry.Year) MARK_TAB @entry.Title</p>
        <p>MARK_TEXT_BEGIN</p>
        @foreach (var t in entry.Text) {
            @Html.Raw(Markdown.ToHtml(t))
        }
        <p>MARK_TEXT_END</p>
    </div>
}
