@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <h1>
            Die Geschichte der Menschheit
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>
            Von der Besiedlung des Sonnensystems bis zur interstellaren Zivilisation
        </h2>
        <p>
            Galactic Developments ist das Geschichtsbuch der Zukunft, eine realistische Timeline.
        </p>
        <p>
            Alle Ereignisse, Abenteuer, Erfindungen und Entdeckungen. Zusammen eine fortlaufende Story.
        </p>
        <p>
            Erst besiedelt die Menschheit das eigene Sonnensystem. Eine interplanetare Zivilisation entwickelt sich mit Erfindungen und Entdeckungen, Politik und Intrigen. Machtzentren kommen und gehen.
        </p>
        <p>
            Dann die Sterne. Schon bevor Raumkrümmer-Antriebe richtig schnell sind, gibt es gewagte Missionen und lange Reisen ins Unbekannte. Nicht nur die Menschen schauen sich um. Auch die Umgebung nimmt die Menschen langsam wahr.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>
            Die grosse Erweiterung
        </h2>
        <p>
            Es gibt noch viele kurze Einträge. Viele davon sind tolle Ideen und wichtige Meilensteine der Entwicklung. Sie verdienen mehr Einzelheiten und mehr Liebe.
        </p>
        <p>
            Hier sind die Ergebnisse der Erweiterungkampagne:
        </p>
    </div>
</div>

@section Scripts {
<script>
</script>
}
