@page "{min?}"
@model ListModel
@{
    ViewData["Active"] = "List";
}

<div class="row mt-3">
    <div class="col-12">
        <h2>
            @Model.I18n.String(path: "Title", i18n: new StringGeneratorI18n {
           ["de-DE"] = () => "Zeitleiste",
           ["en-US"] = () => "Timeline"
       })
        </h2>
    </div>
</div>

@{
    var cnt = 0;
}
@foreach (var entry in Model.List) {
    cnt++;
    <div class="row mt-1">
        <div class="col-12">
            <a asp-page="/Timeline" asp-route-name="@entry?.SeoTitle" data-image='@entry?.Image'>@entry?.Year @entry?.Title</a> [@entry?.TextLen] <span style="color:white">#@cnt</span>
        </div>
    </div>
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", initializeImagePreview);
    </script>
}
