@page "{name?}"
@model TimelineModel
@{
    ViewData["Active"] = "Entry";
    ViewData["Title"] = Model.Entry.Title;
    ViewData["MetaDescription"] = Model.Entry.Summary;
    ViewData["MetaFacebookTitle"] = Model.Entry.Title;
    ViewData["MetaFacebookDescription"] = Model.Entry.Summary;
    ViewData["MetaFacebookImage"] = "/Image/" + Model.Entry.Image;
    ViewData["MetaFacebookImageAlt"] = Model.Entry.Title;
    ViewData["MetaTwitterTitle"] = Model.Entry.Title;
    ViewData["MetaTwitterDescription"] = Model.Entry.Summary;
    ViewData["MetaTwitterImage"] = "/Image/" + Model.Entry.Image;
}

<div class="row mt-3">
    <div class="col-12">
        <h1>
            @Model.Entry.Title
        </h1>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        @if (!string.IsNullOrEmpty(Model.Entry.Image)) {
            <img src="/Image/@Model.Entry.Image" style="width:50%; min-width:200px; margin-left:1em; margin-bottom:0.3em; filter:drop-shadow(5px 5px 5px #505050);" class="float-end img-fluid mb-3" />
        }

        @foreach (var t in Model.Entry.Text) {
            <p>@t</p>
        }
    </div>
</div>

