@page "{year?}"
@model YearModel
@{
    ViewData["Active"] = "Year";
}

@if (Model.NotAvailable) {

    <div class="row mt-3">
        <div class="col-12">
            <p>
                @Model.I18n.String(path: "SwitchLanguage", i18n: new StringGeneratorI18n {
            ["de-DE"] = () => "Nicht verfügbar in der eingestellten Sprache. Sprache wechseln?",
            ["en-US"] = () => "Not available in this language. You might want to switch the display language?",
            })
                @await Html.PartialAsync("_SelectLanguagePartial")
            </p>
        </div>
    </div>

} else {
    <p>redirecting...</p>
}