html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.card-body {
    padding: 1rem 1rem 0 1rem; /* because <p> always has its own margin-bottom */
}

.content a {
    text-decoration: none;
    color: #000000;
    background-color: #f4f4f4;
}

    .content a:visited {
    }

    .content a:hover {
        color: #000000;
        background-color: #e0e0e0;
    }

    .content a:focus {
        color: #000000;
        background-color: #c0c0c0;
    }

div.stage-Index {
    background-image: url(/images/stage-VenusFreighter-800x200.jpg);
    background-size: auto;
    width: 100%;
    height: 200px;
}

@media (min-width: 800px) {
    div.stage-Index {
        background-image: url(/images/stage-VenusFreighter-1600x400.jpg);
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 1600px) {
    div.stage-Index {
        background-image: url(/images/stage-VenusFreighter-3000x500.jpg);
        width: 100%;
        height: 500px;
    }
}
