html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

.navbar-brand {
    padding: 0.3125rem;
    text-align: left;
}

a.navbar-brand {
    padding: 0 0 3px 0;
    text-align: left;
    word-break: normal;
    font-size: x-large;
}

@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 1.5rem;
    }
    .h3, h3 {
        font-size: 1.25rem;
    }
}

dt {
    margin-bottom: 0.5em;
}

dd {
    margin-left: 0;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0.7rem;
}

.card:hover {
    /* border: 1px solid rgba(0,0,0,0.5); */
    /* margin: -2px; */
    /* background-color: #e8e8e8; */
    /*filter: drop-shadow(1px 1px 3px #555);*/
}

.card-body {
    padding: 1rem 1rem 0.3rem 1rem; /* because <p> always has its own margin-bottom */
}

a {
    text-decoration: none;
    color: #8080a0;
}

    a:hover {
        background-color: #f0f0f0;
        color: #8080a0;
    }

    a:focus {
        background-color: #e0e0e0;
        color: #8080a0;
    }

    a:visited {
        color: #808080;
    }

    a[name], a[name]:hover, a[name]:focus {
        color: unset;
        background-color: unset;
    }

.my-logo {
    margin-right: 1em;
}

.my-findform {
    margin-top: 7px;
    margin-right: 0.5em;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .my-findform {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

input[type="text"] {
    padding: 0 3px;
}

    input[type="text"]::placeholder {
        color: #a0a0a0;
    }

img.gd-entry-image {
    width: 50%;
    min-width: 200px;
    margin: 5px 5px 0.2em 1em;
    filter: drop-shadow(5px 5px 5px #505050);
}

img.gd-list-image {
    width: 100%;
    min-width: 200px;
    filter: drop-shadow(5px 5px 5px #505050);
}

div.gd-list-item {
    padding-left: 3.1em;
    text-indent: -2.5em;
}

h3.gd-entry-headline {
    margin: 1em 0 0.8em 0;
}

img.gd-timeline-next, img.gd-timeline-previous {
    max-height: 1em;
}
img.gd-timeline-next-left, img.gd-timeline-previous-left {
    margin-right: 0.5em;
    padding: 0 0 0.2em 0;
}

img.gd-timeline-next-right, img.gd-timeline-previous-right {
    margin-left: 0.5em;
    padding: 0 0.4em 0.2em 0;
}

img.gd-blog-post-image {
    filter: drop-shadow(5px 5px 5px #505050);
}

@media (min-width: 768px) {
    div.gd-multi-column {
        column-count: 2;
        column-gap: 2em;
    }
}

@media (min-width: 1400px) {
    div.gd-multi-column {
        column-count: 3;
        column-gap: 2em;
    }
}


@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active, .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-control-next, 
.carousel-control-prev {
    width: 80px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel .card-img-overlay {
    cursor: pointer;
}

.carousel-item .card,
.carousel-item .card .card-img,
.carousel-item .card .card-img img {
    height: 100%;
}

.carousel-control-next:hover,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-prev:focus
{
    opacity: .5;
}

div.modal-content img#iModalDialogImage {
    box-shadow: 0px 0px 20px #000000;
}
