html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}

.navbar-brand {
    padding: 0.3125rem;
}

@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 1.5rem;
    }
    .h3, h3 {
        font-size: 1.25rem;
    }
}

dt {
    margin-bottom: 0.5em;
}

dd {
    margin-left: 0;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0.7rem;
}

.card-body {
    padding: 1rem 1rem 0.3rem 1rem; /* because <p> always has its own margin-bottom */
}

a {
    text-decoration: none;
    color: #8080a0;
}

    a:hover {
        background-color: #f0f0f0;
        color: #8080a0;
    }

    a:focus {
        background-color: #e0e0e0;
        color: #8080a0;
    }

    a:visited {
        color: #808080;
    }

    a[name], a[name]:hover, a[name]:focus {
        color: unset;
        background-color: unset;
    }


div.stage-Index {
    background-image: url(/images/site/stage-VenusFreighter-800x200.jpg);
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 200px;
}

@media (min-width: 800px) {
    div.stage-Index {
        background-image: url(/images/site/stage-VenusFreighter-1600x400.jpg);
        background-position: center;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 1600px) {
    div.stage-Index {
        background-image: url(/images/site/stage-VenusFreighter-3000x500.jpg);
        background-position: center;
        width: 100%;
        height: 500px;
    }
}

.my-findform {
    margin-top: 7px;
    margin-right: 0.5em;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .my-findform {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

input[type="text"] {
    padding: 0 3px;
}

    input[type="text"]::placeholder {
        color: #a0a0a0;
    }

img.gd-entry-image {
    width: 50%;
    min-width: 200px;
    margin: 5px 5px 0.2em 1em;
    filter: drop-shadow(5px 5px 5px #505050);
}

h3.gd-entry-headline {
    margin: 1em 0 0.8em 0;
}

img.gd-timeline-next {
    max-height: 1em;
}
img.gd-timeline-next-left {
    margin-right: 0.5em;
    padding: 0 0 0.2em 0.4em;
}

img.gd-timeline-next-right {
    margin-left: 0.5em;
    padding: 0 0.4em 0.2em 0;
}

@media (min-width: 768px) {
    div.gd-multi-column {
        column-count: 2;
        column-gap: 2em;
    }
}

@media (min-width: 1400px) {
    div.gd-multi-column {
        column-count: 3;
        column-gap: 2em;
    }
}
